.game-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.team-symbol, .active-player {
    margin: 10px 80px;
    font-size: 100px;
    font-weight: 900;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.active-player {
    border: rgb(21, 112, 108) 20px solid;
}

.team-symbol {
    border: transparent 20px solid;
}

.wins {
    font-size: 48px;
}

#reset-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    border-radius: 6px;
    background-color: lightseagreen;
    border: rgb(21, 112, 108) 4px solid;
    cursor: pointer;
}

#reset-button:active {
    background-color: rgb(26, 153, 147);
}

#reset-button:focus {
    outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .game-div {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0pt;
    } 

    .team-symbol, .active-player {
        margin: 1vw;
        font-size: 20vw;
        font-weight: 900;
        padding: 1vw;
        min-width: 25vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .active-player {
        border: rgb(21, 112, 108) 4vw solid;
    }
    
    .team-symbol {
        border: transparent 4vw solid;
    }
    
    .wins {
        font-size: 48px;
        margin-left: 5vw;
        width: auto;
        position: absolute;
        right: 8vw;
        background-color: lightseagreen;
        padding: 1vw;
        border-radius: 4px;
        color: rgb(21, 112, 108);
    }

    #reset-button {
        position: initial;
        font-size: 8vw;
        border-radius: 6px;
        background-color: lightseagreen;
        border: rgb(21, 112, 108) 1vw solid;
        margin-top: 1vw;
    }

    .team-div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}